
/* Beginning of CodePen styles, remove for dev */
html, body {margin:1em;padding:0;font:normal 400 100.01%/1em Helvetica,Arial,"Lucida Grande",sans-serif}
ul {margin:0;padding:0;list-style:none}
.clear {clear:both !important}

#typeahead {
    .input-label {font-weight:500;font-size:12px;color:#585858;margin-right:100px}
}

.ic20 {
    display:inline-block;
    background-image:url('https://dl.dropboxusercontent.com/u/1621719/Demos/CodePen/Typeahead/20_sprite.png');
    vertical-align:middle;
    width:20px;
    height:20px;
    label {display:block;width:300px;margin-left:30px;line-height:20px}
}
a.ic20,a.ic28 {display:block}
/* Beginning of CodePen styles, remove for dev */