/* App styles below. Use everything from here to the end of the file */
/* line 7, main.scss */
.megatypeahead.page2 .numbered {
  counter-reset: number 20 !important;
}

/* line 7, main.scss */
.megatypeahead.page3 .numbered {
  counter-reset: number 30 !important;
}

/* line 7, main.scss */
.megatypeahead.page4 .numbered {
  counter-reset: number 40 !important;
}

/* line 7, main.scss */
.megatypeahead.page5 .numbered {
  counter-reset: number 60 !important;
}

/* line 7, main.scss */
.megatypeahead.page6 .numbered {
  counter-reset: number 80 !important;
}

/* line 7, main.scss */
.megatypeahead.page7 .numbered {
  counter-reset: number 100 !important;
}

/* line 48, main.scss */
.ta-search:before {
  content: "";
  position: absolute;
  margin: 33px 0 0 100px;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 10px solid white;
  -webkit-filter: drop-shadow(0px -2px 2px #dddddd);
  -moz-filter: drop-shadow(0px -2px 2px #dddddd);
  -ms-filter: drop-shadow(0px -2px 2px #dddddd);
  -o-filter: drop-shadow(0px -2px 2px #dddddd);
  filter: drop-shadow(0px -2px 2px #dddddd);
}

/* line 59, main.scss */
.megatypeahead {
  width: 1200px;
  position: absolute;
  left: -600px;
  margin-left: 50%;
}
/* line 64, main.scss */
.megatypeahead ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 65, main.scss */
.megatypeahead .results-wrapper {
  height: 300px;
  max-width: 1200px;
  border: 1px solid #cfcfcf;
  position: relative;
  z-index: 100;
  -webkit-border-radius: 5px 5px 2px 2px;
  -moz-border-radius: 5px 5px 2px 2px;
  -ms-border-radius: 5px 5px 2px 2px;
  border-radius: 5px 5px 2px 2px;
  -webkit-box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc;
}
/* line 74, main.scss */
.megatypeahead .results-header {
  /* Use the mixin when moved to dev */
  border-bottom: 1px solid #cfcfcf;
  background: #ffffff;
  background: -moz-linear-gradient(top, white 0%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f1f1f1));
  background: -webkit-linear-gradient(top, white 0%, #f1f1f1 100%);
  background: -o-linear-gradient(top, white 0%, #f1f1f1 100%);
  background: -ms-linear-gradient(top, white 0%, #f1f1f1 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
  /* Mixin
  background-color: #ffffff;
  @include filter-gradient(#ffffff, #f1f1f1, vertical);
  @include background-image(linear-gradient(top,  #ffffff 0%,#f1f1f1 100%));
  */
}
/* line 90, main.scss */
.megatypeahead .results-header ul.tabs {
  margin-top: 8px;
  padding-left: 8px;
  height: 21px;
}
/* line 94, main.scss */
.megatypeahead .results-header ul.tabs li {
  float: left;
  margin-right: 2px;
}
/* line 97, main.scss */
.megatypeahead .results-header ul.tabs li a {
  display: block;
  width: 80px;
  background: #E6E6E6;
  font-size: 11px;
  color: #585858;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid transparent;
  border-bottom: 1px solid #cfcfcf;
  -webkit-border-radius: 4px 4px 0;
  -moz-border-radius: 4px 4px 0;
  -ms-border-radius: 4px 4px 0;
  border-radius: 4px 4px 0;
}
/* line 110, main.scss */
.megatypeahead .results-header ul.tabs li a:hover {
  color: #0193CF;
  background: #f3f3f3;
  text-decoration: underline;
}
/* line 112, main.scss */
.megatypeahead .results-header ul.tabs li.active a {
  background: #fff;
  border: 1px solid #cfcfcf;
  border-bottom: 1px solid transparent;
}
/* line 117, main.scss */
.megatypeahead .results-header ul.tabs li.disabled a {
  color: #999;
  cursor: default;
}
/* line 120, main.scss */
.megatypeahead .results-header ul.tabs li.disabled a:hover {
  background: #e6e6e6 !important;
  text-decoration: none;
}
/* line 124, main.scss */
.megatypeahead .results-header .pagination {
  margin: 5px 10px 0 0;
}
/* line 126, main.scss */
.megatypeahead .results-header .pagination ul {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 129, main.scss */
.megatypeahead .results-header .pagination ul li a {
  background-color: transparent;
  border: 0;
  color: #585858;
}
/* line 133, main.scss */
.megatypeahead .results-header .pagination ul li a:hover {
  color: #0193CF;
  text-decoration: underline;
}
/* line 135, main.scss */
.megatypeahead .results-header .pagination ul li.active a {
  font-weight: 700;
  color: #0193CF;
}
/* line 139, main.scss */
.megatypeahead .results-header .pagination .page-left {
  background-position: -140px -260px;
  background-color: #e4e4e4 !important;
  height: 9px;
  width: 5px;
  padding: 5px 7px !important;
  margin-right: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 147, main.scss */
.megatypeahead .results-header .pagination .page-left:hover {
  background-color: #dddddd !important;
}
/* line 148, main.scss */
.megatypeahead .results-header .pagination .page-left.disabled {
  background-position: -160px -260px;
  background-color: #efefef !important;
}
/* line 151, main.scss */
.megatypeahead .results-header .pagination .page-left.disabled:hover {
  background-color: #efefef !important;
}
/* line 154, main.scss */
.megatypeahead .results-header .pagination .page-right {
  background-position: -180px -260px;
  background-color: #e4e4e4 !important;
  height: 9px;
  width: 5px;
  margin-right: 5px;
  padding: 5px 7px !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 162, main.scss */
.megatypeahead .results-header .pagination .page-right:hover {
  background-color: #dddddd !important;
}
/* line 163, main.scss */
.megatypeahead .results-header .pagination .page-right.disabled {
  background-position: -200px -260px;
  background-color: #efefef !important;
}
/* line 166, main.scss */
.megatypeahead .results-header .pagination .page-right.disabled:hover {
  background-color: #efefef !important;
}
/* line 171, main.scss */
.megatypeahead .results-content {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  -webkit-column-fill: auto;
  -moz-column-fill: auto;
  -ms-column-fill: auto;
  -o-column-fill: auto;
  column-fill: auto;
  height: 270px;
  background: #fff;
}
/* line 176, main.scss */
.megatypeahead .results-content .divide {
  width: 600px;
  height: 270px;
}
/* line 179, main.scss */
.megatypeahead .results-content .divide:nth-of-type(2) {
  height: auto !important;
  overflow: hidden;
}
/* line 185, main.scss */
.megatypeahead .results-content ul.results.numbered {
  counter-reset: number;
}
/* line 189, main.scss */
.megatypeahead .results-content ul.results.numbered li > div:first-of-type:before {
  color: #ccc;
  content: "" counter(number) ". ";
  counter-increment: number;
}
/* line 196, main.scss */
.megatypeahead .results-content ul.results li {
  width: 100%;
}
/* line 198, main.scss */
.megatypeahead .results-content ul.results li a {
  color: #585858;
}
/* line 199, main.scss */
.megatypeahead .results-content ul.results li.active {
  background: #0193cf !important;
}
/* line 201, main.scss */
.megatypeahead .results-content ul.results li.active span {
  color: #fff;
}
/* line 202, main.scss */
.megatypeahead .results-content ul.results li.active a {
  color: #fff;
}
/* line 203, main.scss */
.megatypeahead .results-content ul.results li.active a.test, .megatypeahead .results-content ul.results li.active a.controls, .megatypeahead .results-content ul.results li.active a.list {
  display: block;
}
/* line 205, main.scss */
.megatypeahead .results-content ul.results li.active > div {
  color: #fff;
  background: #0193CF;
}
/* line 206, main.scss */
.megatypeahead .results-content ul.results li.active > div:nth-of-type(2), .megatypeahead .results-content ul.results li.active > div:nth-of-type(2) div {
  color: #fff;
  background: #0193CF;
  border-color: transparent;
}
/* line 208, main.scss */
.megatypeahead .results-content ul.results li div {
  float: left;
  padding: 0 0 0 10px;
  font-size: 11px;
  color: #565656;
}
/* line 213, main.scss */
.megatypeahead .results-content ul.results li div:nth-of-type(even) {
  background: #FAFAFA;
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
}
/* line 214, main.scss */
.megatypeahead .results-content ul.results li div span {
  color: red;
  font-weight: 700;
}
/* line 215, main.scss */
.megatypeahead .results-content ul.results li div a.test, .megatypeahead .results-content ul.results li div a.controls, .megatypeahead .results-content ul.results li div a.list {
  float: right;
  display: inline-block;
  margin: 0 2px;
  display: none;
}
/* line 216, main.scss */
.megatypeahead .results-content ul.results li div a.list {
  width: 10px;
  height: 20px;
  background: url("https://dl.dropboxusercontent.com/u/1621719/Demos/CodePen/Typeahead/list.gif");
}
/* line 218, main.scss */
.megatypeahead .results-content ul.results li > div:nth-of-type(1), .megatypeahead .results-content ul.results li > div:nth-of-type(2) {
  width: 288px;
}
/* line 219, main.scss */
.megatypeahead .results-content ul.results li .divide-3 {
  width: 278px;
  display: inline-block;
  padding-top: 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
/* line 224, main.scss */
.megatypeahead .results-content ul.results li .divide-3 div {
  padding: 0;
  max-width: 90px;
  border-color: transparent;
}
/* line 226, main.scss */
.megatypeahead .results-content ul.results li .divide-3 div:nth-of-type(2) {
  white-space: nowrap;
  min-width: 80px;
}
/* line 230, main.scss */
.megatypeahead .results-content ul.results li.heading .divide-3 div {
  padding-top: 0;
}
/* line 231, main.scss */
.megatypeahead .results-content ul.results li.heading:hover {
  background: white !important;
}
/* line 232, main.scss */
.megatypeahead .results-content ul.results li.heading:hover > div, .megatypeahead .results-content ul.results li.heading:hover .divide-3 div {
  color: #999;
  background: #FFF;
}
/* line 233, main.scss */
.megatypeahead .results-content ul.results li.heading:hover > div:nth-of-type(even) {
  background: #FAFAFA;
  border-color: #F1F1F1;
}
/* line 234, main.scss */
.megatypeahead .results-content ul.results li.heading div {
  color: #999;
  padding-top: 10px;
}
/* line 237, main.scss */
.megatypeahead .results-content ul.results li.heading div:hover {
  background: white !important;
}
/* line 238, main.scss */
.megatypeahead .results-content ul.results li.heading div:nth-of-type(even):hover {
  background: #fafafa !important;
}
