<div data-ng-repeat="source in master.sources | filter: 'for'">
    <ul class="results">
        <li class="heading">
            <div data-mega-typeahead-header template-url="headerTemplateUrl"></div>
        </li>
    </ul>
    <ul class="results numbered">
        <li ng-repeat="match in source.matches | limitTo: 5" ng-class="{active: isActiveAllTab($index, $parent.$index, master.sources) }" ng-mouseenter="selectActive($index, source)" ng-click="selectMatch($index, match)">
            <div data-mega-typeahead-match index="$index" match="match" query="query" template-url="matchTemplateUrl"></div>
        </li>
    </ul>
</div>